@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

body {
  background: black;
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Noto Sans KR', sans-serif;
}

#container {
  height: 100vh;
  overflow: scroll;
  padding: 3rem;
}

#controller {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.slider {
  margin:0 0.5rem;
  cursor: pointer;
}

#speedControll {
  direction: rtl
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 150px;
  height: 10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.scrollBox {
  height: 50vh;
  margin: 0;
}

.box {
  height: 50vh;
}

p {
  font-size: 8rem;
  line-height: 120%;
  caret-color: transparent;
  margin: 0;
}
p:focus {
  outline: none;
}